body{
  font-family: Arial, sans-serif;
  line-height: 20pt;
  background-color: white;
  margin: 0;
  padding: 0;
}
.dark-mode{
  background-color: #081B33;
  color: white;
}
header{
  position: relative;
  height: 200px;
}
.header_img{
  position: absolute;
  width: 100%;
  top: -100px;
  height: 300px;
  background: url("NHEI_Title_Pic.jpg");
  background-size: cover;
}
.navbar ul {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width : 100%;
  overflow: hidden;
  background-color: #333;
}
.navbar li{
  float: left;
}
.navbar li a{
  display: block;
  color: white;
  text-align: center;
  margin: 14px 16px;
  text-decoration: none;
}
.main_content{
  display: flex;
  flex-flow: row wrap;
  margin: 46px 10% 0% 10%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.text_box{
  color: white;
  background-color: blue;
  width: 300px;
  height: 200px;
  margin: auto;
  padding: 30px;
  border-radius: 1em;
}
ul ul{
	list-style: square;
}

img{
  align-self: center;
}
h1, h2{
  width: 100%;
}
.trophies{
	list-style-image: url(trophy1.png);
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active{
  background-color: #4CAF50;
}